<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">DOPO24</a>
      <div class="d-flex">
        <a href="/product/addProduct" class="btn btn-danger">Add New Products</a>
      </div>
    </div>
  </nav>